.button{
    display: block;
    width: 100px;
    padding: 12px;
    border: 1px solid rgb(13, 83, 83);
    font-style: Arial;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 4px;
    background: blue;
    background: -moz-linear-gradient(top, #aadddd 0%, #2f4949 100%);
    /*supported by Mozilla*/
    background: -webkit-linear-gradient(top, #aadddd 0%, #2f4949 100%);
    /*supported by Chrome*/
    background: linear-gradient(top, #aadddd 0%, #2f4949 100%);
    box-shadow: 2px 4px 4px 2px #2f4949;
}

.button:hover{
    background: #77aaaa;
    background: -moz-linear-gradient(bottom, #aadddd 0%, #2f4949 100%);
    background: -webkit-linear-gradient(bottom, #aadddd 0%, #2f4949 100%);
    background: linear-gradient(bottom, #aadddd 0%, #2f4949 100%); 
}
